@media screen and (max-width: 1024px) {
    .container {
        padding: 0 20px;
    }

    header {
        .container {
            display: flex;
            padding-top: 18px;
            padding-bottom: 12px;
        }

        .logo {
            max-width: 128px;
            z-index: 1;
        }

        .mobile-container {
            position: absolute;
			flex-direction: column;
            background-color: $bg-secondary;
            z-index: 1;
            left: 0;
            right: 0;
            top: 69px;
            transition: .3s;
            transform: translate(-100%, 0);
            box-shadow: 14px 22px 40px #1e234247;

            &.show {
                transform: translate(0, 0);
            }

            nav {
                flex-direction: column;
                margin-top: 37px;
                margin-bottom: 34px;
                gap: 11px;

                a {
                    font-weight: 400;
                    font-size: 24px;
                    line-height: 2.22;
                }
            }

            .btn-primary {
                padding: 23px 85px;
                margin: 0 40px 60px;
                white-space: nowrap;
            }
        }
    }

    .body-hidden {
        opacity: 0;
    }


    .first-screen {
        margin: 0;

        .slider-info {
            margin: 0;
            
            .swiper-pagination {
                bottom: 96px;
            }

            .swiper-slide {
                border-radius: 0px;
                padding: 0;
                background-image: url(../../assets/img/first-screen-mobile-1.png) !important;
                background-position: -11px -32px;

                .container {
                    padding: 0;
                    
                    .banner {
                        max-width: 335px;
                        max-height: 220px;
                        margin: 149px 20px 242px;
    
                        .banner-title {
                            font-weight: 700;
                            font-size: 32px;
                            line-height: 1.26;
                            text-align: center;
                            margin-bottom: 10px;
                            text-transform: uppercase;
                        }

                        .banner-description {
                            font-weight: 300;
                            font-size: 16px;
                            line-height: 1.36;
                            margin-bottom: 18px;
                            text-align: center;
                            padding-left: 15px;
                        }

                        .btn-primary {
                            margin-left: 20px;
                            padding: 19px 31px;
                            max-width: 295px;
                            width: 100%;
                            gap: 7px;
                        }
                    }
                }
            }
        }
    }
    
}